# Base para tus futuros repos (Python + C# + C++)
# Si un repo es solo de un lenguaje, borra lo que sobre.

# Python
__pycache__/
*.py[cod]
.venv/
venv/
.env

# C# / .NET
bin/
obj/
.vs/
*.user

# C++
build/
*.o
*.exe

# General
.DS_Store
Thumbs.db
